@import url("animation.css");

body {
  display: flex;
  padding: 5vh;
  align-items: center;
  justify-content: center;
}



.container {
  display: grid;
  grid-template-rows: .5fr 8fr;
  height: 80vh;
  width: 80vw;
}

.subcontainer {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);;
  grid-gap: 20px;
  }

.navbar {
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;

}

.item {
  background: linear-gradient(135deg, #05abe0 35%, #35E7CF 100%);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
  box-shadow: 15px 15px 25px 0px rgba(0,0,0,0.3);
}
