@import url("animation.css");

body {
  display: flex;
  padding: 10vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(60deg, #A1D2CE 0%, #78CAD2 100%);
  color: white;
  font-family: helvetica;
}



.container {
  display: grid;
  grid-template-rows: .5fr 8fr;
  height: 75vh;
  width: 75vw;
}

.subcontainer {
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-template-rows: repeat(4,1fr);;
  grid-gap: 20px;
  }

.navbar {
  font-size: 4vh;
  padding: 4vh;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;

}

.item {
  background: #50858B;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  font-weight: lighter;
  box-shadow: 15px 15px 25px 0px rgba(0,0,0,0.3);
}

.item:hover {
	animation: bounce .2s;
}

@keyframes bounce {
	0%, 50%,100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}



	25% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
